<h1>Pages</h1>

<% if @page.new_record? -%>
  <div>
    <h1><%= I18n.t :create_page %></h1>
    <% form_for :page, @page, :url => {:action => 'create_page'} do |f| -%>
      <%= f.text_field :path %>
      <%= f.submit I18n.t :create %>
    <% end %>
  </div>
<% else -%>
  <div>
    <h1><%= I18n.t :editing_page %><%= @page.path %></h1>
    <% form_for :page, @page, :url => {:action => 'save_page', :id => @page.id} do |f| -%>
      <label>path:</label><%= f.text_field :path %><br/>
      <label>layout:</label><%= f.collection_select :layout_id, Layout.find(:all), :id, :name %><br/>
      <%= f.submit I18n.t :save %>
    <% end %>
  </div>
<% end -%>
<table>
  <thead><tr>
      <td>Path</td>
      <td>Layout</td>
      <td></td>
  </tr></thead>
  <tbody>
    <% for page in @pages -%>
      <tr class="">
        <td><%= link_to page.path, :id => page %></td>
        <td><%= page.layout.name if page.layout %></td>
        <td><%= link_to 'generate', :action => 'generate_page', :id => page.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
